body {
	position: absolute; 
	height: 100%;
	width: 100%;
	margin: 0px;
	background: url(images/paper02.png);
}

.center-container {
	position: absolute;
	z-index: 9999;
	width: 100%;
	height: 0px;
	top: 50%;
}

.center {
	position: relative;
	margin: 0 auto;
}

#playfield {
	bottom: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0 auto;
	background: url(images/paper01.png);
}

#topbar {
	margin: 0 auto;
	position: relative;
	right: 8px;
	width: 800px;
	height: 60px;
	padding-left: 16px;
	padding-right: 16px;
	background-image: url("images/topbar_left.png"), url("images/topbar_right.png"), url("images/topbar_middle.png");
	background-repeat: no-repeat, no-repeat, repeat;
	background-position: left bottom, right bottom, left bottom;
	-webkit-background-origin: padding, padding, content;
	-webkit-background-clip: padding, padding, content;
}

#puzzle-selection-dialog {
	bottom: 150px;
	width: 300px;
	height: 300px;
	-webkit-background-clip: padding;
	border: 5px;
	-webkit-border-image: url("images/pixelborder.png") 5 round stretch;
	-webkit-transition: all 1s;
}

@font-face { font-family: PCSenior; src: url('pcsenior.ttf'); }

.puzzle-selection-button {
	display: inline-block;
	margin: 0px;
	height: 48px;
	width: 48px;
	line-height: 48px;
	float: left;
		
	font-size: 25px;
	font-family: helvetica;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: rgba(0, 0, 0, 0.9);
	
	border-right: 1px solid rgba(0, 0, 0, 1.0);
	border-bottom: 1px solid rgba(0, 0, 0, 1.0);
	border-top: 1px solid rgba(0, 0, 0, 1.0);
	border-left: 1px solid rgba(0, 0, 0, 1.0);
}

.solved {
	background: rgba(80, 180, 80, 1.0);
	-webkit-transition: all 1s;
}

#message-container {
	position: absolute;
	height: 100px;
	width: 100%;
	bottom: 0px;
	border-top: 2px solid rgba(50, 50, 50, 0.4);
	background: rgba(100, 100, 100, 0.2);
	-webkit-transition: all 1s;
	display: none;
}

#message {
	font-size: 40px;
	text-align: center;
	padding: 10px;
}

.message-hidden {
	-webkit-transform: translate3d(0px, 102px, 0px);
}

.block {
	position: absolute;
	-webkit-transform: translate3d(0, 0, 0);
}