body {
	position: absolute; 
	height: 100%;
	width: 100%;
	margin: 0px;
	background: url(images/paper02.png);
}

#play-field {
	bottom: 0px;
	width: 760px;
	height: 100%;
	overflow: hidden;
	margin: 0 auto;
	background: url(images/paper01.png);
	-webkit-box-shadow: 10px 10px;
}

.block {
	position: absolute;
	-webkit-transform: translate3d(0, 0, 0);
}