body {
	position: absolute; 
	height: 100%;
	width: 100%;
	margin: 0px;
	background: url(/images/paper02.png);
}

.centering-container {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 9999;
	
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-pack: center;
	-webkit-box-align: center;
}

.block {
	position: absolute;
	-webkit-transform: translate3d(0, 0, 0);
}

.hidden  {
	z-index: -1;
	opacity: 0;
	visibility: hidden;
}

#playfield {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0 auto;
	background: url(/images/paper01.png);
	border: 5px;
	-webkit-border-image: url("/images/pixelborder.png") 5 round stretch;
	-webkit-background-clip: padding;
}

#topbar {
	margin: 0 auto;
	position: relative;
	right: 8px;
	width: 800px;
	height: 60px;
	padding-left: 16px;
	padding-right: 16px;
	background-image: url("/images/topbar_left.png"), url("/images/topbar_right.png"), url("/images/topbar_middle.png");
	background-repeat: no-repeat, no-repeat, repeat;
	background-position: left bottom, right bottom, left bottom;
	-webkit-background-origin: padding, padding, content;
	-webkit-background-clip: padding, padding, content;
}

#feedback {
	z-index: 99999;
	position: absolute;
	right: 20px;
	top: 30px;
	padding-bottom: 2px;
	background: rgb(165, 165, 165);
	
	border: 5px;
	-webkit-border-image: url("/images/pixelborder.png") 5 round stretch;
	-webkit-background-clip: padding;
}

#feedback textarea {
	max-width: 200px;
	width: 200px;
	height: 200px;
}

#feedback-close {
	color: black;
}

#feedback-button {
	float: right;
	margin-top: 12px;
	margin-right: 20px;
	font-family: helvetica;
}

#puzzle-selection-table {
	bottom: 150px;
	width: 298px;
	height: 298px;
	-webkit-background-clip: padding;
	border: 5px;
	-webkit-border-image: url("/images/pixelborder.png") 5 round stretch;;
}

.puzzle-selection-button {
	font-size: 25px;
	font-family: helvetica;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-shadow: -1px -1px rgb(30, 30, 30);
	color: rgb(190, 190, 190);
	
	background: rgb(100, 100, 100);
	
	display: inline-block;
	margin: 0px;
	height: 48px;
	width: 48px;
	line-height: 48px;
	float: left;
	
	border-right: 2px solid rgb(152, 152, 152);
	border-bottom: 2px solid rgb(152, 152, 152);
}

.puzzle-selection-button:last-child {
	border-right: none;
}

.row:last-child .puzzle-selection-button {
	border-bottom: none;
}

.solved {
	color: rgb(235, 225, 80);
}

#puzzle-tip {
	-webkit-transition: all 0.3s;
}

#message {
	font-size: 40px;
	text-align: center;
	padding: 10px;
	margin: 0 auto;
	width: 500px;
	top: -50px;
	background: rgba(100, 100, 100, 1.0);
	
	border: 5px;
	-webkit-border-image: url("/images/pixelborder.png") 5 round stretch;
	-webkit-background-clip: padding;
}

#game-title {
	font-family: helvetica;
	font-size: 35px;
	font-weight: bold;
	color: rgba(200, 200, 200, 0);
	-webkit-text-stroke: 2px #000;
}