body {
	position: absolute; 
	height: 100%;
	width: 100%;
	margin: 0px;
	background: url(/images/paper02.png);
}

.centering-container {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 9999;
	
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-pack: center;
	-webkit-box-align: center;
}

.block {
	position: absolute;
	-webkit-transform: translate3d(0, 0, 0);
}

.hidden  {
	opacity: 0;
	visibility: hidden;
}

#playfield-container {
	margin: 0 auto;
	position: relative;
	z-index: 1;
}

#playfield {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: url(/images/paper01.png);
	border: 5px;
	-webkit-border-image: url("/images/pixelborder_dark.png") 5 round stretch;
	-webkit-background-clip: padding;
}

#playfield-shadow {
	position: absolute;
	z-index: -1;
	left: 10px; right: -45px;
	top: 10px; bottom: -45px;
	margin: 10px;
	border: 35px;
	-webkit-border-image: url("/images/pixelshadow.png") 35 round stretch;
}

#topbar {
	margin: 0 auto;
	position: absolute;
	height: 150px;
	width: 100%;
	
	background: rgb(230, 230, 255);	    
	border-bottom: 5px solid rgb(50, 50, 50);
}

#feedback {
	z-index: 999999;
	position: absolute;
	right: 20px;
	top: 30px;
	padding-bottom: 2px;
	
	border: 5px;
	-webkit-border-image: url("/images/pixelborder_fill.png") 5 round stretch;
	-webkit-background-clip: padding;
}

#feedback textarea {
	max-width: 200px;
	width: 200px;
	height: 200px;
}

#feedback-close {
	color: black;
}

#feedback-button {
	float: right;
	margin-top: 12px;
	margin-right: 20px;
	font-size: 15px;
	font-family: helvetica;
	height: 25px; line-height: 25px;
	color: white;
	
	border: 5px;
	-webkit-border-image: url("/images/pixelborder_dark_fill.png") 5 round stretch;
	-webkit-background-clip: padding;
}

#puzzle-selection-table {
	bottom: 150px;
	width: 298px;
	height: 298px;
	border: 5px;
	-webkit-border-image: url("/images/pixelborder.png") 5 round stretch;
	-webkit-background-clip: padding;
}

.puzzle-selection-button {
	font-size: 25px;
	font-family: helvetica;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-shadow: -1px -1px rgb(30, 30, 30);
	color: rgb(190, 190, 190);
	
	background: rgb(100, 100, 100);
	
	display: inline-block;
	margin: 0px;
	height: 48px;
	width: 48px;
	line-height: 48px;
	float: left;
	
	border-right: 2px solid rgb(152, 152, 152);
	border-bottom: 2px solid rgb(152, 152, 152);
}

.puzzle-selection-button:last-child {
	border-right: none;
}

.row:last-child .puzzle-selection-button {
	border-bottom: none;
}

.solved {
	color: rgb(235, 225, 80);
}

#message {
	padding: 10px;
	margin: 0 auto;
	width: 500px;
	
	color: white;
	font-size: 40px;
	text-align: center;
	background: rgb(80, 80, 80);
	
	border: 5px;
	-webkit-border-image: url("/images/pixelborder.png") 5 round stretch;
	-webkit-background-clip: padding;
}