@import url("default.css");

#playfield-container {
	margin-top: 10px;
	width: 310px;
	height: 325px;
}

#playfield {
	width: 300px;
	height: 320px;
}

#playfield-shadow {
	display: none;
}

#feedback-button, #menu-button, #reset-button {
	display: none;
}

#puzzle-selection-table {
	width: 250px;
	height: 250px;
}

.puzzle-selection-button {
	height: 40px;
	width: 40px;
	line-height: 40px;
}

#message {
	font-size: 25px;
	width: 250px;
}